@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');
body{
    font-family: 'Almarai', sans-serif;
    background: linear-gradient(
        rgba(0,0,0,0.30),
        rgba(0,0,0,0.30)
    ), url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}
.text-blue{
    color: #114274 !important;
}
.border-blue{
    border-color: #114274 !important;
}
.custom-role{
    color:#114274;
    width: 100%;
    height: 100px;
}

.sub-link{
    text-decoration: none;
    transition: 1s;
    color: #114274 !important;
}

.sub-link:hover{
    text-decoration: none;
    color: purple;
    transition: 1s;
}
.sub-link-icons {
    text-decoration:none;
    transition: 1s;
    color: black;
}
.sub-link-icons:hover {

    text-decoration: underline;
    transition: 1s;
    color: purple;
}
.f-25{
    font-size: 25px !important;
}
.shadow-1{
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.15) !important;

}
.button {
    display: flex;
    justify-content: end;
    align-items: center;
}